<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.ashish.newsapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="dev.ashish.newsapp.activities.NewsListActivity" />
        <activity
            android:name="dev.ashish.newsapp.activities.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="dev.ashish.newsapp.activities.CategoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="dev.ashish.newsapp.activities.WebViewActivity" />

        <service android:name="dev.ashish.newsapp.service.NotificationReminderJobService" />
    </application>

</manifest>